/* Use this file to import all other scss files. This file gets compiled by a
gulp process */
* {
  margin: 0;
  padding: 0; }

div.main--section {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center; }

h2.main--tag {
  margin: 30px;
  font-size: 1.5em;
  font-weight: bold;
  color: #58585b; }

button.standard-btn {
  border: none;
  border-radius: 5px;
  background: #f8e393;
  color: white;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color .3s;
  text-transform: uppercase; }
  button.standard-btn:hover {
    background-color: black; }

/* Import statements of other SCSS files */
.home__main {
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center; }

.home__info {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media all and (max-width: 900px) {
    .home__info {
      flex-direction: column; } }
  .home__info div {
    margin: 10px;
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media all and (max-width: 900px) {
      .home__info div {
        width: 100%; } }
    .home__info div h3 {
      margin: 15px; }
    .home__info div p {
      margin-bottom: 15px;
      width: 80%; }
    .home__info div button {
      width: 150px;
      height: 50px; }

.home__testimonials {
  margin: 30px;
  display: flex;
  justify-content: center; }
  @media all and (max-width: 1000px) {
    .home__testimonials {
      margin: 0 auto;
      max-width: 700px;
      width: 90%;
      flex-direction: column;
      align-items: center; } }
  .home__testimonials div {
    margin: 30px;
    width: 50%; }
    @media all and (max-width: 1000px) {
      .home__testimonials div {
        width: 100%;
        max-width: 700px; } }
    .home__testimonials div p {
      line-height: 1.4em; }
      .home__testimonials div p span {
        font-style: italic; }
  .home__testimonials hr {
    display: none; }
    @media all and (max-width: 1000px) {
      .home__testimonials hr {
        display: block;
        width: 100%;
        color: black;
        background: black; } }

.about-us .main--tag {
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase; }

.about-us .about-us__descriptions p {
  margin: 15px auto;
  max-width: 700px;
  width: 80%;
  line-height: 1.5em; }

.about-us .about-us__descriptions button {
  margin-top: 30px;
  width: 170px;
  height: 50px; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .navbar div {
    display: flex; }
    .navbar div p {
      padding: 30px;
      cursor: pointer; }
