.sep {
	height: 30px;
	background-color: #4286f4;
}

.home{

	&__landing-page {
		min-height: 70vh;
		background-image: url("background-three.jpg");
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;
		color: white;
		text-shadow: 0 0 5px black;

		&__header {
			padding: 30px 30px 0px 30px;
			max-width: 80%;
		}

		&__blurb {
			margin: 0 auto;
			max-width: 70%;
			width: 800px;
			padding: 30px;
			font-size: 30px;
		}

		a {
			padding: 15px;
			text-decoration: none;
			color: inherit;

			span {
				color: #4286f4;
			}
		}
	}

	&__philosophy {
    background-image: url(background-six.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

		&__container {
			margin: 0 auto;
			padding: 100px 0;
			max-width: 80%;
			width: 800px;
			color: white;

			h2 {
				padding-bottom: 30px;
			}

			p {
				padding-left: 60px;;
				font-size: 25px;
				text-shadow: 0px 0px 10px black;
			}
		}

		button {
			margin-top: 30px;
			padding: 10px 30px;
			background-color: rgb(30, 30, 30);
			font-size: 20px;
			color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color .2s ease;

			&:hover {
				background-color: rgb(50, 50, 50);
			}
		}
	}

	&__issues {
		background-color: #1f69c4;

		.container {
			margin: 0 auto;
			padding-top: 60px;
			color: white;

			h2 {
				font-size: 30px;
				text-align: center;
			}

			.home__issues__flex-container {
				display: flex;
				align-items: flex-start;
				flex-direction: row;

				@media all and (max-width: 800px) {
					flex-direction: column;
					align-items: center;
				}

				div {
					max-width: 400px;
					padding: 30px;
					display: flex;
					align-items: center;
					flex-direction: column;

					img {

					}

					div {
						margin: 0 auto;

						h3 {

						}

						p {
							text-align: center;
							padding: 10px;
						}

						p:before {
							content: '\2023 ';
							padding: 5px;
						}
					}
				}
			}
		}
	}
}
