/* Use this file to import all other scss files. This file gets compiled by a
gulp process */

// CSS Rest --> THIS MUST BE THE FIRST CSS IN THE FILE
* {
	margin: 0;
	padding: 0;
}

/* Import statements of other SCSS files */
@import 'home';
